* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/florNMO.jpg);
  background-position: center;
}

.navBack div {
  text-align: center;
}
.navBack div .logo {
  width: 400px;
  text-align: center;
}
.navBack nav {
  text-align: center;
}
.navBack nav .menu {
  background-color: #d4d0d0;
  padding: 0;
  width: 70%;
  margin: 0% auto;
  list-style-type: none;
}
.navBack nav .menu li {
  display: inline;
  width: 100%;
  padding: 15px;
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
}
.navBack nav .menu li a {
  text-decoration: none;
  color: #000000;
}
.navBack nav .menu li a:hover {
  background-color: #000000;
  color: #ffffff;
}

main .seccion1 {
  background-image: url(../img/fondo1.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  margin: 50px;
}
main .seccion1 h3 {
  font-size: 2.5rem;
  font-family: "Amatic SC", cursive;
}
main .seccion1 .p1 {
  background-color: rgba(255, 255, 255, 0.473);
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 3rem;
}
main .seccion1 .accordion .accordion-item .accordion-collapse .accordion-body {
  background-image: url(../img/NO\ ME\ OLVIDES1jpg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
main .seccion1 .accordion .accordion-item .accordion-collapse .accordion-body .p {
  background-color: rgba(255, 255, 255, 0.699);
}
main .seccion1 .row {
  background-color: rgba(255, 255, 255, 0.644);
}
main .seccion1 .row .nav-link {
  text-align: left;
  font-family: "Mulish", sans-serif;
}
main .seccion1 .row .scrollspy .item {
  text-align: justify;
  font-family: "Mulish", sans-serif;
}
main .seccion2 {
  background-image: url(../img/fondo2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  margin: 50px;
}
main .seccion2 legend {
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
  text-align: center;
}
main .seccion2 .form {
  font-size: 1rem;
  font-family: "Mulish", sans-serif;
  padding-left: 40%;
}
main .seccion3 {
  padding: 30px;
  margin: 50px;
}
main .seccion3 h3 {
  font-size: 2.5rem;
  font-family: "Amatic SC", cursive;
}
main .seccion3 .fotosProd {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 1rem;
}
main .seccion3 .fotosProd img {
  width: 200px;
  margin: 10px;
  border: 2px solid #000000;
}
main .seccion4 {
  padding: 30px;
  margin: 50px;
}
main .seccion4 h3 {
  font-size: 2.5rem;
  font-family: "Amatic SC", cursive;
}
main .seccion4 .redes .row {
  background-color: rgba(255, 255, 255, 0.644);
}
main .seccion4 .redes .row .col .logoredes {
  width: 30px;
  display: block;
}
main .seccion4 .redes .row .col .sociales {
  display: block;
  font-family: "Amatic SC", cursive;
  font-size: 1.3rem;
}
main .seccion4 .redes .row .col a {
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
}
main .btnav a {
  font-size: 1.2rem;
  color: rgb(35, 2, 66);
  font-style: oblique !important;
}

footer {
  background-color: #d4d0d0;
}
footer .footer {
  background-color: rgba(255, 255, 255, 0.637);
  font-size: 1.5rem;
  text-align: justify;
  font-family: "Mulish", sans-serif;
}
footer .footer a {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgb(42, 3, 78);
}

@media only screen and (min-width: 768px) {
  .seccion1 {
    background-image: url(../img/fondo1.jpg);
    background-attachment: fixed;
    background-position: center;
    overflow: auto;
    height: 500px;
  }
  .seccion2 {
    background-image: url(../img/fondo2.jpg);
    background-attachment: fixed;
    background-position: center;
  }
  .menu li {
    display: inline-block;
    width: 20%;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .logo {
    width: 200px;
  }
  .seccion1 {
    overflow: auto;
    height: 300px;
    font-size: 1rem;
  }
  .seccion1 h3 {
    font-size: 2rem;
  }
  .scrollspy .item {
    text-align: right;
  }
}/*# sourceMappingURL=estilo.css.map */