.navBack{
    div{   
        text-align: center;
        
        .logo{
           width: 400px;
           text-align: center;
                      
        }
    }
    nav{
        text-align: center;
    
        .menu{
            background-color:$bgcolor;
            padding: 0;
            width: 70%;
            margin: 0% auto;
            list-style-type: none;
            li{
                display: inline;
                width: 100%;
                padding: 15px;
                font-size: 2rem;
                font-family: $lparrafo;
                a{
                    text-decoration: none;
                    color: $negro;
                    &:hover{
                        background-color: $negro;
                        color: $blanco;
                    }
                }  
            }
        }   
    }  
}