*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bgcolor: #d4d0d0;
$negro: #000000;
$blanco: #ffffff;
$ltitulo: 'Amatic SC', cursive;
$lparrafo: 'Mulish', sans-serif;


body{
    background-image: url(../img/florNMO.jpg);
    background-position: center;
}
    
   
@import "header";
@import "main"; 
@import "footer";
@import "queries";